#myWebGLCanvas {
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 10;
}

#myImageCanvas {
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 0;
}

#scoreCanvas {
    position: absolute;
    left: 450px;
    top: 485px;
    z-index: 20;
}

